@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
:root {
    --bg-clr:#3d444a;
    --white: #F4F6FF;
    --rleft-bg:#FBD46D;
--rright-bg:#4F8A8B;
--primary-text-clr:#07031A;
--icon-bg:#065c5c;
}
*{ margin:0;
padding:0;
box-sizing:border-box;
list-style:none;
font-family: "Calistoga", serif ,cursive; ;
}
body{
    background: var(--bg-clr);
    font-size:12px;
    line-height: 20px;
    color:var(--primary-text-clr);
    padding:0 20px
}
h2{
    font-family:"Calistoga", serif cursive;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 3px;
    margin-top: 40px;
    font-weight:bolder;
}
ul li {
    color:var(--primary-text-clr)
}
.resume{
    width: 800px;
    max-width: 100%;
    height: auto;
    margin: 50px auto;
    background: var(--white);
}
.resume-top{
    display: flex;
    width:100%;
    height: 150px;
    position:relative;
}
.resume-top .rtop-left,
.resume-top.rtop-right{
    width:50%;
    padding:35px;
}

.resume-top .rtop-left,
.resume-bottom .rbottom-left{
    background:var(--rleft-bg);
}
.resume-top .rtop-right,
.resume-bottom .rbottom-right{
    background: var(--rright-bg)
    ;
    
}
.resume-top .rtop-left .name{
    font-size: 30px;
    line-height: 40px;
    font-family:"Calistoga", serif ,cursive; 
}
.resume-top .rtop-left .role{
    font-family:"Calistoga", serif ,cursive;  
    color:var(--primary-text-clr);
    font-size: 16px;
    line-height: 18px;
    margin-top: 15px;
    letter-spacing: 5px;  
}
.resume-top .rtop-right .hire{
    font-family:"Calistoga", serif ,cursive;  
    color:var(--primary-text-clr);
    font-size: 16px;
    line-height: 40px;
    margin-top: 60px;
    letter-spacing: 5px;  

}
.resume-top .rtop-right p{
    font-size: 15px; 
    line-height: 15px;
    margin-top: 6px;
    text-indent: 120px;
    text-align:end;
    white-space: nowrap;
    margin-right: 20px;
}
.resume-top .r-profile-pic{
    position:absolute;
    top:60px;
    left:50%;
    transform: translate(-50%);
}
.resume-top .r-profile-pic img{
    width:200px;
}

.para{
    font-size: 15px;
    line-height: 24px; ;
    margin-bottom: 10px;
    text-align:right ;
    background:var(--white);
    font-family: "Bree Serif";
font-weight: 600;
background: #e3e5ec;
    
}


.resume-center{
    padding: 75px 35px 35px;
    text-align: center;
    letter-spacing: 1px;
    background: #e3e5ec;
}



.resume-bottom{
    display:flex;
}

.resume-bottom div{
    margin-left: 10px;
    width:50%;
    margin-right: 5;
}
.resume-bottom{   white-space: nowrap;
    
}
.resume-bottom .rb-skills,
.resume-bottom .rb-education,
.resume.bottom .rb-experience,
.resume.bottom .rb-contact{
    margin-bottom: 50px;
}
.resume-bottom .rbottom-left ul li {
text-align: center;
width: 100%;
margin-bottom:10px ;
display: flex;
align-items: center;
justify-content: center;
}
.resume-bottom .rbottom-left .rb-skills ,
.resume-bottom .rbottom-left .rb-hobbies{
    margin-left: 60px;
}